pre {
    font-family: 'Courier New', 'monospace';
    margin: 1rem auto;
    font-size: 4px;
    line-height: 1;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    max-width: 617px;
}